<div class="bg-white" style="padding: 24px">
  <form nz-form [formGroup]="validateForm" class="role">
    <div nz-form-item nz-row [nzType]="'flex'" [nzJustify]="'center'">
      <div nz-form-label nz-col [nzSpan]="4">
        <label nz-form-item-required>角色名称</label>
      </div>
      <div nz-form-control nz-col [nzSpan]="6">
        <nz-input formControlName="name" [nzType]="'name'" [nzPlaceHolder]="'角色名称'" [nzSize]="'large'" (change)="onChangeName($event)">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="validateForm.controls.name.dirty&&validateForm.controls.name.hasError('required')">请输入角色名称!</div>
      </div>
    </div>
  </form>
  <div class="role">
    <span>权限：</span>
    <nz-card >
      <ng-template #body>
        <div class="border-bottom margin-top-24">
          <label nz-checkbox [(ngModel)]="allChecked.userManage" (ngModelChange)="updateAllChecked('userManage')" [nzIndeterminate]="indeterminate['userManage']">
            <span>人员管理</span>
          </label>
        </div>
        <br>
        <nz-checkbox-group [(ngModel)]="checkOptionsOne.userManage" (ngModelChange)="updateSingleChecked('userManage')"></nz-checkbox-group>
      </ng-template>
    </nz-card>
    <nz-card >
      <ng-template #body>
        <div class="border-bottom margin-top-24">
          <label nz-checkbox [(ngModel)]="allChecked.systemManage" (ngModelChange)="updateAllChecked('systemManage')" [nzIndeterminate]="indeterminate['systemManage']">
            <span>系统管理</span>
          </label>
        </div>
        <br>
        <nz-checkbox-group [(ngModel)]="checkOptionsOne.systemManage" (ngModelChange)="updateSingleChecked('systemManage')"></nz-checkbox-group>
      </ng-template>
    </nz-card>
  </div>
  <div class="customize-footer">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="_submitForm()">
      保存
    </button>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      返回
    </button>
  </div>
  <nz-spin [nzSpinning]="_isSpinning"></nz-spin>
</div>
