/* You can add global styles to this file, and also import other style files */
.survey div.ant-card-head {
    height: auto;
    line-height: auto;
}

.survey .ant-card-head-title {
    height: auto;
    line-height: auto;
    white-space:normal;
    line-height: 20px;
    margin-top: 15px;
}

.margin-10 {
    margin: 10px;
}
 

.bg-white {
  background-color: white !important;
}

.search-sider {
    background-color: white !important;
    z-index: 1;
  }


  .full-width {
    width: 100%;
  }
  
  .whiteframe-z2 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }

  .padding {
    padding: 17px 16px 15px 20px !important;
  }

  .text-center {
    text-align: center;
  }


.customize-edit-buttons {
  padding: 10px 18px 0 10px;
  text-align: right;
  margin: 15px;
}