<form nz-form [formGroup]="validateForm" class="login-form"  class="margin-30">
  <div nz-form-item>
    <div nz-form-label nz-col [nzSpan]="6">
      <h2>知识竞答 <br/>  
        凝聚推动集团发展合力</h2>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-input formControlName="phone" [nzPlaceHolder]="'身份证号码'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-user"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.phone.dirty&&validateForm.controls.phone.hasError('required')">请输入身份证号码!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-lock"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请输入密码!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control class="controls">
      <button nz-button  [nzType]="'primary'" (click)="_submitForm()">oauth登录</button>
      <button nz-button  [nzType]="'primary'" (click)="jwtSubmitForm()">jwt登录</button>
    </div>
  </div>
</form>
<nz-spin [nzSpinning]="_isSpinning"></nz-spin>